<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>PAVSHOP - Multipurpose eCommerce HTML5 Template</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="../static/rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/ionicons.min.css" rel="stylesheet">
<link href="../static/css/main.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="../static/js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- Content -->
  <div id="content">
   <!-- About -->
   
      <div class="container"> 
        
        {% include "includes/navbar.html" %}

        {% block content %}
        
        {% endblock  %}    
         <!-- Social Icons -->
         <section class="small-about padding-top-150 padding-bottom-150">
          <div class="container"> 
            
            <!-- Main Heading -->
            <div class="heading text-center">
              <h4>about PAVSHOP</h4>
              <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
                eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
            </div>
            
            <!-- Social Icons -->
            <ul class="social_icons">
              <li><a href="#."><i class="icon-social-facebook"></i></a></li>
              <li><a href="#."><i class="icon-social-twitter"></i></a></li>
              <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
              <li><a href="#."><i class="icon-social-youtube"></i></a></li>
              <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
            </ul>
          </div>
        </section>
      </div>
    </section>
    

{% include "includes/footer.html" %}


  </div>
<script src="../static/js/jquery-1.11.3.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script> 
<script src="../static/js/own-menu.js"></script> 
<script src="../static/js/jquery.lighter.js"></script> 
<script src="../static/js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="../static/rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="../static/rs-plugin/js/jquery.tp.min.js"></script> 
<script src="../static/js/main.js"></script> 
<script src="../static/js/main.js"></script>







