{% extends 'base.html' %}

{% block content %}
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info register">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-12">
                <h6>REGISTER</h6>
                <form action="#" method='post'>
                  {{ form.hidden_tag() }}
                  <ul class="row">
                    
                    <!-- Name -->
                    {% for field in form %}
                    <li class="col-md-6">
                      <label>
                        {{field.label}}
                        {{ field }}
                      </label>
                    </li>
                    {% endfor %}
                    <li class="col-md-6">
                      <button type="submit" class="btn">REGISTER NOW</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    


{% endblock  %}